/*===============*/
/* General stuff */
/*===============*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';
  overflow-x: hidden;
}

h2, h1, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border:none;
  outline:none;
}

.white {
  color: white;
}

.card {
  background: grey;
  border-radius: 5px;x
  border: 1px solid #2f2f2f;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 1;
  padding: 5vw 0;
  width: 75vw;
}

.cardWhite {
  background: white;
  border: 1px solid grey;
}

.title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.inlineImage {
    max-width: 80%;
    position: relative;
}

/* MAIN PAGE */

/*=================*/
/* Navigation Menu */
/*=================*/

.nav > a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 2em;
  margin: 3vh 0;
  color: #2f2f2f;
}

.nav {
  z-index: 2;
  position: fixed;
  display: none;
  bottom: 0;
  width: 80vw;
  height: 100vh;
  background: grey;
}

#nav-toggle {
  position: fixed;
  bottom: 2.5vw;
  right: 2.5vw;
  z-index: 2;
  font-size: 3em;
  color: black;
}

/*==============*/
/* Landing Page */
/*==============*/

#landing {
  height: 100vh;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@keyframes PhotoPan {
    /* 0% {left: 200%;}
    100% {left: -400%;} */
    0% {left: 200vw;}
    100% {left: -300vw;}
}

.logo {
  max-width: 80vw;
  position: absolute;
  top: 7vh;
  z-index: 1;
}

.landingPhoto {
    max-height: 100vh;
    position: relative;
    opacity: .9;
    animation-name: PhotoPan;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*===============*/
/* About Page */
/*===============*/
#about {
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#about > p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#about > h1 {
  font-size: 2em;
}

.headshot {
  width: 80vw;
}

/*===============*/
/* Product Page */
/*===============*/
#product {
  padding-bottom: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#product > p {
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#product > h1 {
  font-size: 2em;
}

/*===============*/
/* Use Cases */
/*===============*/
#uses {
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.useItem {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.useItem > h2 {
  padding-top: 10vh;
  color: white;
  font-weight: 300;
  font-size: 2em;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.use1 {
  background-image: url('./images/ParadiseFire.jpg');
  background-position: 33% 0;
}

.use2 {
  background-image: url('./images/Solar.jpg');
  background-position: 40% 0;
}

.use3 {
  background-image: url('./images/OffGrid.jpeg');
  background-position: 33% 0;
}

#uses > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#uses > p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#uses > h1 {
  font-size: 2em;
}

/*===============================*/
/* team and Experience Pages */
/*===============================*/

#team {
  padding-top: 10vh;
  background: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team > a  {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 300;
}

#team > a > img {
  width: 80vw;
}

#team > a > p{
  padding-top: 2vh;
  margin: 0 10vw;
  text-align: center;
}

#team > a > h2{
  font-size: 1em;
}

/*=============*/
/* OTHER PAGES */
/*=============*/

.test {
  background: #2f2f2f;
}

.header {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header > a {
  font-size: 1.5em;
  position: fixed;
  left: 2.5vw;
  color: black;
}

.header > h1 {
  text-align: center;
}

/*===============*/
/* DeskTop Styes */
/*===============*/
@media (min-width: 600px) {

  .card {
    width: 25vw;
  }

  @keyframes PhotoPan {
      0% {left: 50vw;}
      100% {left: -50vw;}
  }

  .logo {
    max-width: 30vw;
  }

   #aboutProduct {
       display: flex;
       flex-direction: row;
       align-items: center;
       text-align: center;
       margin: 25vh 5vw;
   }

  #product, #about {
       padding: 0;
  }

  #about > h2 {
    padding:0;
  }

  #about > h1 {
    font-size: 3em;
  }

  #team {
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 20vh 70vh;
    grid-template-areas:
    "header header header header"
    "name1 name2 name3 name4";
  }

  #team > a {
    margin: 0;
    padding: 0;
  }

  #team > .title {
    grid-area: header;
  }

  .cardName {
    width: 20vw;
  }
}

@media (max-width: 950px) {
  #team {
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 20vh 50vh 50vh;
    grid-template-areas:
    "header header"
    "name1 name2"
    "name3 name4";
  }

  #team > a {
    margin: 0;
    padding: 0;
  }

  #team > .title {
    grid-area: header;
  }

  .cardName {
    width: 40vw;
  }
}
