/*===============*/
/* General stuff */
/*===============*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';
  overflow-x: hidden;
}

h2, h1, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border:none;
  outline:none;
}

.card {
  background: grey;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 1;
  padding: 5vw 0;
  width: 90%;
}

.title {
  font-size: 2em;
  color: white;
  font-weight: 300;
  text-align: center;
}

.inlineImage {
    max-width: 100vw;
    position: relative;
}

/* MAIN PAGE */

/*=================*/
/* Navigation Menu */
/*=================*/

.nav > a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 2em;
  margin: 3vh 0;
  color: #2f2f2f;
}

.nav {
  z-index: 2;
  position: fixed;
  display: none;
  bottom: 0;
  width: 80vw;
  height: 100vh;
  background: grey;
}

.nav-signature {
  height: 20vw;
  color: black;
}

#nav-toggle {
  position: fixed;
  bottom: 2.5vw;
  right: 2.5vw;
  z-index: 2;
  font-size: 3em;
  color: black;
}

/*==============*/
/* Landing Page */
/*==============*/

#landing {
  height: 100vh;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@keyframes PhotoPan {
    /* 0% {left: 200%;}
    100% {left: -400%;} */
    0% {left: 300vw;}
    100% {left: -300vw;}
}

.landingPhoto {
    max-height: 100vh;
    position: relative;
    repeat
    opacity: .9;
    animation-name: PhotoPan;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#landing > .name {
  text-align: center;
  color: white;
  font-weight: 300;
  color: grey;

  /* The image used */
  background-image: url("/images/citypano.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*===============*/
/* About Me Page */
/*===============*/
#about {
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#about > p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#about > h1 {
  font-size: 2em;
}

.headshot {
  width: 80vw;
}

/*===============*/
/* Product Page */
/*===============*/
#product {
  padding: 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#product > p {
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#product > h1 {
  font-size: 2em;
}

/*===============*/
/* Use Cases */
/*===============*/
#uses {
  padding:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.useItem {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.use1 {
  background-image: url('./images/ParadiseFire2.webp');
  background-position: 33% 0;
}

.use2 {
  background-image: url('./images/Solar.jpg');
  background-position: 40% 0;
}

.use3 {
  background-image: url('./images/OffGrid.jpeg');
  background-position: 33% 0;
}

#uses > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#uses > p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#uses > h1 {
  font-size: 2em;
}

/*===============================*/
/* team and Experience Pages */
/*===============================*/

#team {
  padding-top: 10vh;
  background: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team > a  {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 300;
}

#team > a > img {
  width: 80vw;
}

#team > a > p{
  padding-top: 2vh;
  margin: 0 10vw;
  text-align: center;
}

#team > a > h2{
  font-size: 1em;
}

/*=============*/
/* Contact  Me */
/*=============*/

#contact {
  padding: 10vw 0;
  background: linear-gradient(#fff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact > img {
  display: none;
}

#contact > .title {
  color: black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    padding: 20px;
}

/*=============*/
/* OTHER PAGES */
/*=============*/

.test {
  background: #2f2f2f;
}

.header {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header > a {
  font-size: 1.5em;
  position: fixed;
  left: 2.5vw;
  color: black;
}

.header > h1 {
  text-align: center;
}
