/*===============*/
/* General stuff */
/*===============*/

html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'Titillium Web'; */
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

h3, h2, h1, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  border:none;
  outline:none;
}

/* Header */
header {
  width: 100vw;
  height: 5em;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

header > a {
  display: flex;
  justify-content: center;
}

.white {
  color: white;
}

.card {
  background: #eee;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 1;
  padding: 5vw 0;
  width: 75vw;
}

.cardWhite {
  background: white;
  border: 1px solid grey;
}

.title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.inlineImage {
    max-width: 80%;
    position: relative;
}

/* MAIN PAGE */

/*=================*/
/* Navigation Menu */
/*=================*/

.nav > a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 2em;
  font-weight: 100;
  padding: 3vh 0;
  color: #2f2f2f;
  border-bottom: 1px solid grey;
}

.nav {
  z-index: 2;
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  width: 60vw;
  height: 100%;
  padding: 0 5vw;
  background-color: white;
}

.notnav{
  z-index: 2;
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  width: 30vw; /* == 100 - .nav.width - .nav.padding */
  height: 100%;
}

.nav-toggle.scrolled {
  color: black !important;
  transition: color 200ms linear;
}

.nav-toggle.clicked {
  color: black !important;
  transition: color 200ms linear;
}

.nav-toggle {
  position: fixed;
  bottom: 0.4em;
  right: 0.5em;
  z-index: 3;
  font-size: 3em;
}

#nav-toggle-index {
  color: white;
}

#nav-toggle-black {
  color: black;
}



/*==============*/
/* Landing Page */
/*==============*/

#landing {
  /* height: 100vh; */
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("/images/FINALHERO56.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: */
}

#landing > .btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  text-align: center;
}

#landing > .btns > .btn {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: white;
  width: 60vw;
  padding: 0.5em;
  border-radius: 25px;
  margin: 0.5em;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
}

#landing > .btns > .btn:hover {
  color: black;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.5);
}

#landing > .logo {
  height: 2.5em;
  position: fixed;
  align-self: center;
  z-index: 1;
  margin-top: 1em;
  top:0;
}

.logoNav {
  height: 2.5em;
  position: absolute;
  align-self: center;
  z-index: 1;
}

.landingPhoto {
  object-fit: cover;
  height: 100%;
  min-width: 100%;
}

.landingPhotoMobile {
  display: inherit;
}

.landingPhotoDesktop{
  display: none;
}

/*===============*/
/* Product Page */
/*===============*/

#product {
  background: #FFF;
  height: auto;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-content: space-between;
  text-align: left;
}

#product > a {
  padding: 0;
  align-self: center;
}

#product > a > .logo {
  height: 2.5em;
  z-index: 1;
  margin-top: 1em;
  padding: 0;
}

#product > .vanPan {
  object-fit: cover;
  object-position: 30%;

  height: 70vh;
  max-width: 100%;

  z-index: 0;
  padding: 2vh 0;
}

#product > .infoPics {
  object-fit: cover;
  object-position: -50vw;
  min-width: 200vw;
  padding: 2vh 0;
}

#product > .infoPic, #product > .scalePic{
  display: none;
}

#product > .prodSumm {
  background: black;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: white;
  align-items: center;
  text-align: center;
  padding: 2vh 0;
  margin: 2vh 0;
}

#product > .prodSumm { // REMOVE
  display: none;
}

.specLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  text-decoration: none;
}

.specLink > img {
  width: 20vw;
}

.specLink > h2 {
  font-weight: 300;
  color: white;
}

#product > h1,
#product > h2,
#product > p  {
  color: black;
  font-weight: 300;
  padding: 1vh 5vw;
  align-self: left;
}

#product > h1 {
  font-size: 2.5em;
}

#product > p {
  font-size: 1.25em;
}

#product > .prodSumm > .btn {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: white;
  width: 60vw;
  padding: 0.5em;
  border-radius: 25px;
  margin: 2vh;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
}

#product > .prodSumm > .btn:hover {
  color: black;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.5);
}

/*=========*/
/* Footer */
/*=========*/

#footer {
  height: 5em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footer > p {
  text-decoration: none;
  align-self: center;
  color: black;
  font-size: 1em;
  font-weight: 300;
}

/*===============*/
/*   Use Cases   */
/*===============*/

/*===================*/
/* Job Listings page */
/*===================*/

#jobsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#jobsPage > ul {
  list-style-type: none;
}

#jobsPage > ul > li{
  display: inline-block;
}

#jobsPage > * {
  padding: 2vw 5vw;
  color: black;
  font-weight: 300;
}

#jobsPage > p {
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
}

#jobsPage > h1 {
  font-size: 2em;
  margin: 5% 0;
}

.jobListing {
  display: flex;
  width: 70vw;
  flex-direction: column;
  border-top: 1px solid lightgrey;
}

.jobListing > * {
  margin: 2px 0;
}

.jobListing > h2 {
  font-weight: 300;
  font-size: 1em;
}

.jobListing > h3 {
  font-weight: 200;
  font-size: 1em;
}

/*=============*/
/* OTHER PAGES */
/*=============*/

.header {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header > a {
  font-size: 1.5em;
  position: fixed;
  left: 2.5vw;
  color: black;
}

.header > h1 {
  text-align: center;
}

/*===================*/
/* Job Listings page */
/*===================*/

#contactPage > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25em;
  margin: 1em 0;
}

#contactPage > h1 {
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  color: black;
  font-weight: bold;
  margin: 1em 0 0 0;
}

#contactPage > form > * {
  width: 75vw;
  font-size: 1em;
  height: 2.5em;
  padding: 0 0.5em;
  font-family: inherit;
  border-width: thin;
  border-style: solid;
}

#contactPage > form > input[type=submit] {
  width: 10em;
  background-color: #a9a9a9;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

#contactPage > form > textarea {
  max-width: 75vw;
  min-width: 75vw;
  height: 15em;
  max-height: 15em;
  min-height: 15em;
  padding: 0.5em;
  font-family: inherit;
}

/*=============================================================================*/
/*=============================================================================*/
                                  /* DeskTop Styes */
/*=============================================================================*/
/*=============================================================================*/

@media (min-width: 800px) {


  /*==============*/
  /* Landing Page */
  /*==============*/

  #landing > .logo {
    height: 3em;
    position: fixed;
    align-self: center;
    margin: 2.5vh 0 0 2.5vh;
    top:0;
    left: 0;
    z-index: 1;
  }

  #landing > .btns {
    flex-direction: row;
  }

  #landing > .btns > .btn {
    width: 20em;
  }

  .landingPhotoMobile {
    display: none;
  }

  .landingPhotoDesktop{
    display: inherit;
  }

/* ------------------------------------------ */

  #product {
    background: #FFF;

    display: grid;
    grid-template-columns: 25vw 10vw 10vw 20vw 10vw 25vw;
    grid-template-rows:
      10vh
      50vh
      6vh
      4vh
      30vh

      50vh
      6vh
      8vh
      20vh

      40vh
      5vh
      10vh

      /*10vh*/ //UNCOMMMENT
      ;
  }

  #product > .logoLink {
    align-self: baseline;
    grid-area: 1 / 1 / 2 / 7;
  }

  #product > a > .logo {
    height: 3em;
    margin: 2.5vh 0 0 2.5vh;
    z-index: 1;
  }

  #product > .vanPan {
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-area: 2 / 1 / 6 / 7;
    padding: 0;
  }

  #product > .infoPics {
    display: none;
  }

  #product > .infoPic, #product > .scalePic{
    display: inherit;
  }

  #product > .arcTxt { grid-area: 3 / 4 / 4 / 6; border-radius: 10px 10px 0 0;}
  #product > .arcTxt + h2 { grid-area: 4 / 4 / 5 / 6; }
  #product > .arcTxt + h2 + p { grid-area: 5 / 4 / 6 / 6; border-radius: 0 0 10px 10px;}
  #product > .arcTxt,
  #product > .arcTxt + h2,
  #product > .arcTxt + h2 + p { color:white; background-color: #00000055;}

  #product > .infoPic {
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-area: 6 / 1 / 7 / 7;
    padding: 0;
  }

  #product > .srcTxt { grid-area: 7 / 1 / 8 / 3; }
  #product > .srcTxt + h2 { grid-area: 8 / 1 / 9 / 3 }
  #product > .srcTxt + h2 + p { grid-area: 9 / 1 / 10 / 3; }

  #product > .strTxt { grid-area: 7 / 3 / 8 / 5; }
  #product > .strTxt + h2 { grid-area: 8 / 3 / 9 / 5; }
  #product > .strTxt + h2 + p { grid-area: 9 / 3 / 10 / 5; }
  #product > .strTxt,
  #product > .strTxt + h2,
  #product > .strTxt + h2 + p { text-align: center;}

  #product > .useTxt { grid-area: 7 / 5 / 8 / 7; }
  #product > .useTxt + h2 { grid-area: 8 / 5 / 9 / 7; }
  #product > .useTxt + h2 + p { grid-area: 9 / 5 / 10 / 7; }
  #product > .useTxt,
  #product > .useTxt + h2,
  #product > .useTxt + h2 + p { text-align: right;}

  #product > .scalePic {
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-area: 10 / 1 / 13 / 7;
    padding: 0;
  }

  #product > .sclTxt { display: none;}
  #product > .sclTxt + h2 { grid-area: 11 / 2 / 12 / 6; }
  #product > .sclTxt + h2 + p { grid-area: 12 / 2 / 13 / 6; }
  #product > .sclTxt,
  #product > .sclTxt + h2,
  #product > .sclTxt + h2 + p { color:white; text-align: center;}

  #product > .prodSumm {
    background: black;
    display: none;       //REMOVE
    flex-direction: row;
    color: white;
    margin: 0;
    justify-content: center;
    grid-area: 13 / 1 / 14 / 7;
  }

  .specLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    text-decoration: none;
  }

  .specLink > img {
    width: 20vw;
  }

  .specLink > h2 {
    font-weight: 300;
    color: white;
  }

  #product > h1,
  #product > h2,
  #product > p  {
    color: black;
    font-weight: 300;
    padding: 1vh 1vw;
    align-self: left;
    z-index: 1;
  }

  #product > .prodSumm > .btn {
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: white;
    width: 20vw;
    padding: 1vh 0;
    border-radius: 25px;
    margin: 1vh 2vw;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.25);
  }

  #product > .prodSumm > .btn:hover {
    color: black;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.5);
  }

  /*=================*/
  /* Navigation Menu */
  /*=================*/

  .nav > a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    padding: 3vh 0;
    color: #2f2f2f;
    border-bottom: 1px solid grey;
  }

  .nav {
    z-index: 2;
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    padding: 0 2vw;
    background-color: white;
  }

  .notnav{
    z-index: 2;
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 76vw; /* == 100 - .nav.width - .nav.padding */
    height: 100%;
  }

  .nav-toggle.scrolled {
    color: black !important;
    transition: color 200ms linear;
  }

  .nav-toggle {
    position: fixed;
    z-index: 3;
    font-size: 3em;
    color: white;
  }

  #footer {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #footer > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 300;
    margin: 5px 0;
  }

  /*=================*/
  /* Jobs Page */
  /*=================*/

  #jobsPage > * {
    padding: 2vw 5vw;
    color: black;
    font-weight: 300;
  }

  #jobsPage > p {
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    color: black;
  }

  #jobsPage > h1 {
    font-size: 2em;
    margin: 5% 0 2% 0;
  }

  .jobListing {
    display: flex;
    width: 70vw;
    flex-direction: column;
    border-top: 1px solid lightgrey;
  }

  .jobListing > * {
    margin: 2px 0;
  }

  .jobListing > h2 {
    font-weight: 300;
    font-size: 1em;
  }

  .jobListing > h3 {
    font-weight: 200;
    font-size: 1em;
  }

  /*===================*/
  /* Contact page */
  /*===================*/

  #contactPage > h1 {
    font-size: 2em;
  }

  #contactPage > form > * {
    width: 35vw;
    padding: 0 0.5em;
  }

  /* #contactPage > form > input[type=submit] {
    width: 10em;
  } */

  #contactPage > form > textarea {
    max-width: 35vw;
    min-width: 35vw;
    padding: 0.5em;
  }

}
